In [ ]:
import pandas as pd
import numpy as np
s=pd.Series([0,90,656,6556,55])
print(s)

0       0
1      90
2     656
3    6556
4      55
dtype: int64

In [ ]:
s=pd.Series(['jeev',1,23,34])
print(s)

0    jeev
1       1
2      23
3      34
dtype: object

In [ ]:
s=pd.Series((1,2,3,3,3))
print(s)

0    1
1    2
2    3
3    3
4    3
dtype: int64

In [ ]:
s=pd.Series(['jee','van','abc'])
print(s)

0    jee
1    van
2    abc
dtype: object

In [ ]:
fruits=np.array(['orange','banana','guava'])
a=pd.Series(fruits)
print(a)

0    orange
1    banana
2     guava
dtype: object

In [ ]:
df1 = pd.DataFrame({
    "C1": [1, 2, 8, 7, 9],
    "C2": ['a', 'column', 'with', 'a','xyz'],
    "C3": [1.23, 23.5, 45.6, 32.1234, 89.453],
    "C4": [True, False, True, False, True]
})
print(df1)

   C1      C2       C3     C4
0   1       a   1.2300   True
1   2  column  23.5000  False
2   8    with  45.6000   True
3   7       a  32.1234  False
4   9     xyz  89.4530   True

In [ ]:
stddata=pd.DataFrame({
    "regdno": [501,502,503,504,505],
    "name": ['jeev','karth','vish','yash','vinnu'],
    "marks": [12,14,15,12,13]
})
print(stddata)

   regdno   name  marks
0     501   jeev     12
1     502  karth     14
2     503   vish     15
3     504   yash     12
4     505  vinnu     13

In [ ]:
list=[2,'xyz',367]
df=pd.DataFrame(list)
print(df)

     0
0    2
1  xyz
2  367

In [ ]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df3 = pd.DataFrame(items)
print(df3)

       0     1
0  Phone  2000
1     TV  1500
2  Radio   800

In [ ]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df4 = pd.DataFrame(items, columns=['Item', 'Price'], dtype=float)
print(df4)

    Item   Price
0  Phone  2000.0
1     TV  1500.0
2  Radio   800.0

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df4.describe()

             Price
count     3.000000
mean   1433.333333
std     602.771377
min     800.000000
25%    1150.000000
50%    1500.000000
75%    1750.000000
max    2000.000000

In [ ]:
data=pd.read_csv('cars.csv')
print(data)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

In [ ]:
data.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
data.tail()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [ ]:
data.head(2)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [ ]:
data['gear']

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: int64

In [ ]:
data['Unnamed: 0']

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: Unnamed: 0, dtype: object

In [ ]:
print(data.loc[[1,4,7],['gear']])

   gear
1     4
4     3
7     4

In [ ]:
print(data.loc[:4,['disp','hp']])

    disp   hp
0  160.0  110
1  160.0  110
2  108.0   93
3  258.0  110
4  360.0  175

In [ ]:
d1 = {
    'subject_id': ['1', '2', '3', '4', '5'],
    'student_name': ['tony', 'stark', 'rose', 'Jack', 'Dennis']
}

d2 = {
    'subject_id': ['4', '5', '6', '7', '8'],
    'student_name': ['yash', 'tabu', 'karth', 'vinn', 'vish']
}

df1 = pd.DataFrame(d1, columns=['subject_id', 'student_name'])
df2 = pd.DataFrame(d2, columns=['subject_id', 'student_name'])

In [ ]:
df1

  subject_id student_name
0          1         tony
1          2        stark
2          3         rose
3          4         Jack
4          5       Dennis

In [ ]:
pd.merge(df1, df2, on='subject_id')

  subject_id student_name_x student_name_y
0          4           Jack           yash
1          5         Dennis           tabu

In [ ]:
raw = {
    'Name': ['John', 'John', 'Grace', 'Grace', 'Benjamin', 'Benjamin', 'Benjamin',
        'Benjamin', 'John', 'Alex', 'Alex', 'Alex'],
    'Position': [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],
    'Year': [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],
    'Marks':[408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]
}
df3 = pd.DataFrame(raw)
print(df3)

        Name  Position  Year  Marks
0       John         2  2009    408
1       John         1  2010    398
2      Grace         1  2009    422
3      Grace         4  2010    376
4   Benjamin         2  2010    401
5   Benjamin         4  2010    380
6   Benjamin         3  2011    396
7   Benjamin         1  2012    388
8       John         3  2011    356
9       Alex         2  2013    402
10      Alex         4  2013    368
11      Alex         3  2012    378

In [ ]:
a=df3.groupby('Marks')
print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe093fa35b0>

In [58]:
group.get_group(2010)

       Name  Position  Year  Marks
1      John         1  2010    398
3     Grace         4  2010    376
4  Benjamin         2  2010    401
5  Benjamin         4  2010    380